@charset "UTF-8";
/* Style.css */
/* Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 20, ../sass/modules/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../sass/modules/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../sass/modules/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../sass/modules/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../sass/modules/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../sass/modules/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END reset */
/* Mixins */
/*END Mixins */
/* line 21, ../sass/modules/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 9, ../sass/modules/_mixins.scss */
body:before, body:after {
  display: table;
  content: "";
}
/* line 13, ../sass/modules/_mixins.scss */
body:after {
  clear: both;
}

/* Fonts */
/* line 19, ../sass/modules/_fonts.scss */
html {
  font: 16px;
}

/* END Fonts */
/* Components */
/* Buttons */
/* line 7, ../sass/modules/_components.scss */
.read_more {
  clear: both;
  float: left;
  margin-top: 14px;
  padding: 7px 6px 7px 20px;
  background: url('../images/design/sprite.png?1355961822') no-repeat 8px 8px #222222;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 18, ../sass/modules/_components.scss */
.read_more:hover, .read_more:active {
  background: url('../images/design/sprite.png?1355961822') no-repeat 8px 8px #090909;
}

/* line 27, ../sass/modules/_components.scss */
.visit {
  float: left;
  margin-top: 30px;
  padding: 6px 8px 6px 20px;
  background: url('../images/design/sprite.png?1355961822') no-repeat 8px 8px #c82121;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}
/* line 38, ../sass/modules/_components.scss */
.visit:hover, .visit:active {
  background: url('../images/design/sprite.png?1355961822') no-repeat 8px 8px #9c1a1a;
}

/*@mixin btn-dark-grey{
	//@include button(#5c5c5c, #383838, none, 0 6px 6px 6px);
	//@include text-shadow(#000 1px 1px 0);
}*/
/*
.btn{
	color: #FFF;
	@include button(#999, #666, none, 5px);	
	@include text-shadow(#184162 0 -1px 0);
	padding: 4px;
	display: inline-block;
	text-align: center;
	font: 400 em(18px) $font-titles;
	
	@include pie-element();
	@include button();
	
	&.primary{
		@include btn-dark-grey(); 
	}//END .primary
	
}//END .btn
*/
/* Zoom - plugin js */
/*Some CSS*/
/* line 101, ../sass/modules/_components.scss */
.zoom_enable {
  width: 980px;
  position: relative;
}

/*Lets create the magnifying glass*/
/* line 104, ../sass/modules/_components.scss */
.large {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 100%;
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  /*Lets load up the large image first*/
  background: url("../images/visuals/photo_archi1_med.jpg") no-repeat;
  /*hide the glass by default*/
  display: none;
}

/*To solve overlap bug at the edges during magnification*/
/* line 121, ../sass/modules/_components.scss */
.small {
  display: block;
}

/* END buttons */
/*-----------------------*/
/* END components */
/* line 37, ../sass/style.scss */
body {
  font-family: Arial, Helvetica, "Sans Serif";
  background: url('../images/design/bg_pattern.jpg?1355961821') repeat 0 0 white;
  position: relative;
  overflow: hidden;
  top: 9999px;
}

/* line 45, ../sass/style.scss */
.wrapper {
  width: 970px;
  float: none;
  margin: 42px auto 0;
}

/* line 50, ../sass/style.scss */
section {
  clear: both;
}

/* line 54, ../sass/style.scss */
a {
  color: #2B77BC;
  text-decoration: none;
  -webkit-transition: background-color 0.1s ease-in, color 0.2s ease-out;
  -moz-transition: background-color 0.1s ease-in, color 0.2s ease-out;
  -o-transition: background-color 0.1s ease-in, color 0.2s ease-out;
  transition: background-color 0.1s ease-in, color 0.2s ease-out;
}

/* line 59, ../sass/style.scss */
input[type="submit"], .btn {
  cursor: pointer;
}

/* line 64, ../sass/style.scss */
input[type="text"],
input[type="search"],
input[type="email"] {
  line-height: 20px;
}

/*BOUTONS*/
/* line 70, ../sass/style.scss */
.hide {
  display: none;
}

/* line 75, ../sass/style.scss */
select {
  float: left;
  padding: 3px 34px 2px 7px;
  border: 1px solid #222222;
  font-size: 12px;
  color: #222222;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: url('../images/design/select_btn.gif') no-repeat 100% 0 #e9e9e9;
  cursor: pointer;
}
/* line 86, ../sass/style.scss */
select option {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #fff;
}

/*IMPORT FILES*/
/* Header */
/* line 3, ../sass/parts/_header.scss */
header {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  background: white;
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
/* line 11, ../sass/parts/_header.scss */
header .wrapper {
  margin-top: 0;
}
/* line 15, ../sass/parts/_header.scss */
header #search_form {
  float: right;
}
/* line 18, ../sass/parts/_header.scss */
header nav {
  float: left;
  position: relative;
  height: 100%;
}
/* line 23, ../sass/parts/_header.scss */
header nav .menu {
  float: left;
}
/* line 26, ../sass/parts/_header.scss */
header nav .menu li {
  float: left;
  margin-left: 20px;
}
/* line 30, ../sass/parts/_header.scss */
header nav .menu li:first-child {
  margin-left: 0;
}
/* line 34, ../sass/parts/_header.scss */
header nav .menu li a {
  display: block;
  padding: 20px 16px 13px 13px;
  color: #222222;
  font-family: "Scada", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 44, ../sass/parts/_header.scss */
header nav .menu li a:hover, header nav .menu li a:active, header nav .menu li a.active {
  background-color: #222222;
  color: #fff;
}
/* line 50, ../sass/parts/_header.scss */
header nav .menu li.current_page_item {
  background: #222;
}
/* line 53, ../sass/parts/_header.scss */
header nav .menu li.current_page_item a {
  color: #FFF;
}
/* line 61, ../sass/parts/_header.scss */
header #langages {
  float: right;
}
/* line 64, ../sass/parts/_header.scss */
header #langages #currentLangage {
  font-family: "Scada", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
  padding: 20px 16px 13px 13px;
  position: relative;
  display: block;
}
/* line 73, ../sass/parts/_header.scss */
header #langages #currentLangage span {
  background: url('../images/design/sprite_arrow_langages.jpg?1355961822');
  width: 13px;
  height: 7px;
  position: absolute;
  background-position-y: 7px;
  margin: 3px 10px;
}
/* line 84, ../sass/parts/_header.scss */
header #langages.opened #currentLangage span {
  background-position-y: 0px;
}
/* line 88, ../sass/parts/_header.scss */
header #langages.opened ul {
  display: block;
}
/* line 93, ../sass/parts/_header.scss */
header #langages ul {
  display: none;
  position: absolute;
}
/* line 97, ../sass/parts/_header.scss */
header #langages ul li a {
  padding: 13px 28px 13px 13px;
  color: #222;
  background-color: #FFF;
  bottom: 30px;
  position: relative;
}
/* line 104, ../sass/parts/_header.scss */
header #langages ul li a:hover {
  color: #FFF;
  background-color: #222;
}
/* line 113, ../sass/parts/_header.scss */
header #lang_sel {
  float: left;
}
/* line 116, ../sass/parts/_header.scss */
header #btn_footer {
  position: absolute;
  right: 50px;
  bottom: 0;
  height: 33px;
}
/* line 122, ../sass/parts/_header.scss */
header #btn_footer a {
  width: 20px;
  height: 18px;
  background: url('../images/design/sprite.png?1355961822') no-repeat 5px -395px #222222;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* END header*/
/*Footer*/
/* line 3, ../sass/parts/_footer.scss */
footer {
  clear: both;
  position: fixed;
  bottom: -36px;
  width: 100%;
  padding: 10px 0;
  background: #222222;
}
/* line 11, ../sass/parts/_footer.scss */
footer ul {
  float: right;
}
/* line 12, ../sass/parts/_footer.scss */
footer li {
  float: left;
  margin-left: 20px;
}
/* line 16, ../sass/parts/_footer.scss */
footer li:first-child {
  margin-left: 0;
}
/* line 20, ../sass/parts/_footer.scss */
footer a {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
/* line 25, ../sass/parts/_footer.scss */
footer strong {
  float: left;
  margin-left: 10%;
  font-size: 12px;
  color: #666666;
}

/* END footer*/
/* Home */
/* line 4, ../sass/parts/_home.scss */
.home h2 {
  font-size: 22px;
  font-family: "Scada", Arial, sans-serif;
  color: #222222;
  line-height: 1.2;
}
/* line 10, ../sass/parts/_home.scss */
.home .description_projet {
  /*display: inline;*/
  float: left;
  width: 470px;
  margin: 0 5px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  margin: 0;
}
/* line 17, ../sass/parts/_home.scss */
.home .description_projet:first-child {
  margin: 0 2px 0 0;
}
/* line 21, ../sass/parts/_home.scss */
.home .description_projet .inner {
  padding: 30px;
}
/* line 25, ../sass/parts/_home.scss */
.home .description_projet strong.keywords {
  color: #666666;
  font-size: 12px;
  margin: 20px 0;
}
/* line 30, ../sass/parts/_home.scss */
.home .description_projet img {
  float: left;
  margin: 20px 0 14px;
  width: 346px;
  height: 264px;
}
/* line 36, ../sass/parts/_home.scss */
.home .description_projet p {
  color: #222222;
  font-size: 12px;
}
/* line 41, ../sass/parts/_home.scss */
.home #news {
  /*display: inline;*/
  float: left;
  width: 950px;
  margin: 0 5px;
  width: 942px;
  margin: 2px 0 0;
  height: 206px;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 48, ../sass/parts/_home.scss */
.home #news .inner {
  padding: 30px;
}
/* line 51, ../sass/parts/_home.scss */
.home #news span {
  float: left;
  width: 100%;
  color: #666666;
  font-size: 12px;
  margin: 0 0 20px;
}
/* line 58, ../sass/parts/_home.scss */
.home #news img {
  clear: both;
  float: left;
  margin-right: 20px;
}
/* line 63, ../sass/parts/_home.scss */
.home #news p {
  float: left;
  color: #222222;
  font-size: 12px;
}
/* line 68, ../sass/parts/_home.scss */
.home #news .article_text {
  float: left;
}
/* line 71, ../sass/parts/_home.scss */
.home #news a {
  margin-top: 24px;
}

/* END .home */
/*Elements communs aux autres pages*/
/* line 79, ../sass/parts/_home.scss */
.bg_fullscreen {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 86, ../sass/parts/_home.scss */
.fullscreen_pattern {
  position: absolute;
  top: 0;
  background: url('../images/design/fullscreen_pattern.png?1355961821') repeat 0 0 transparent;
}

/* line 92, ../sass/parts/_home.scss */
#logo {
  float: left;
  width: 100%;
  margin-bottom: 2px;
}
/* line 97, ../sass/parts/_home.scss */
#logo .inner {
  /*display: inline;*/
  float: left;
  width: 470px;
  margin: 0 5px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 102, ../sass/parts/_home.scss */
#logo .inner h1 {
  display: block;
  padding: 32px;
}
/* line 106, ../sass/parts/_home.scss */
#logo .inner span {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #222222;
}

/* line 2, ../sass/parts/_references.scss */
.description_list {
  /*display: inline;*/
  float: left;
  width: 470px;
  margin: 0 5px;
}
/* line 5, ../sass/parts/_references.scss */
.description_list li {
  position: relative;
  width: 100%;
  clear: both;
  font-size: 12px;
  line-height: 1.5;
}
/* line 12, ../sass/parts/_references.scss */
.description_list li span {
  float: left;
  color: #666666;
  padding-right: 5px;
}
/* line 18, ../sass/parts/_references.scss */
.description_list li strong {
  color: #222222;
}
/* line 21, ../sass/parts/_references.scss */
.description_list li li {
  display: block;
}
/* line 24, ../sass/parts/_references.scss */
.description_list li li:before {
  content: '- ';
}
/* line 28, ../sass/parts/_references.scss */
.description_list li.award {
  background: url('../images/design/sprite.png?1355961822') no-repeat -989px -198px;
}
/* line 31, ../sass/parts/_references.scss */
.description_list li.award strong {
  padding-left: 16px;
  font-weight: bold;
  color: #d7a200;
}

/* line 39, ../sass/parts/_references.scss */
.description_list.part2 {
  /*display: inline;*/
  float: left;
  width: 470px;
  margin: 0 5px;
}

/* Projet */
/* line 48, ../sass/parts/_references.scss */
.projet .description .title {
  position: relative;
  float: left;
  /*display: inline;*/
  float: left;
  width: 950px;
  margin: 0 5px;
  margin: 36px 0 26px;
  padding-bottom: 8px;
  border-bottom: solid 1px #9d9e9e;
}
/* line 56, ../sass/parts/_references.scss */
.projet .description .title > span {
  float: left;
  font-family: "Scada", Arial, sans-serif;
  font-size: 48px;
  color: #222222;
}
/* line 62, ../sass/parts/_references.scss */
.projet .description .title > h2 {
  float: left;
  margin-left: 22px;
  padding-top: 4px;
  font-family: "Scada", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
}
/* line 72, ../sass/parts/_references.scss */
.projet .description .pagination_back {
  position: absolute;
  right: 0;
}
/* line 76, ../sass/parts/_references.scss */
.projet .description .pagination_back li {
  float: left;
  padding-top: 24px;
}
/* line 79, ../sass/parts/_references.scss */
.projet .description .pagination_back li:first-child a {
  padding-left: 0;
  padding-right: 10px;
}
/* line 84, ../sass/parts/_references.scss */
.projet .description .pagination_back a {
  display: block;
  padding-left: 10px;
}
/* line 88, ../sass/parts/_references.scss */
.projet .description .pagination_back li, .projet .description .pagination_back a {
  color: #222222;
  font-family: "Scada", Arial, sans-serif;
  font-size: 12px;
}

/* END .projet */
/*Single-reference*/
/* line 106, ../sass/parts/_references.scss */
.single_reference #logo {
  margin-top: 50px;
}
/* line 111, ../sass/parts/_references.scss */
.single_reference #logo .inner {
  width: 100%;
  margin-right: 2px;
}
/* line 114, ../sass/parts/_references.scss */
.single_reference #logo .inner h1 {
  display: block;
  padding: 18px 18px 12px 28px;
}
/* line 118, ../sass/parts/_references.scss */
.single_reference #logo .inner span {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #222222;
}
/* line 126, ../sass/parts/_references.scss */
.single_reference #description_projet {
  clear: left;
  margin: 0 0px 0 5px !important;
  height: 215px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 134, ../sass/parts/_references.scss */
.single_reference #description_projet .title {
  float: left;
  padding: 18px 18px 12px 28px;
}
/* line 138, ../sass/parts/_references.scss */
.single_reference #description_projet .title h2 {
  color: #222222;
  text-transform: uppercase;
  font-family: "Scada", Arial, sans-serif;
  font-size: 24px;
}
/* line 144, ../sass/parts/_references.scss */
.single_reference #description_projet .title strong {
  display: block;
  padding-top: 14px;
  font-size: 11px;
  color: #222222;
  text-transform: uppercase;
}
/* line 153, ../sass/parts/_references.scss */
.single_reference #description_projet ul {
  float: left;
  padding: 18px 18px 12px;
}
/* line 158, ../sass/parts/_references.scss */
.single_reference .banner_show_hide {
  float: left;
  width: 80%;
}
/* line 162, ../sass/parts/_references.scss */
.single_reference .btn_show_hide_description_reference {
  float: left;
  margin: 50px 0 0 2px;
  min-height: 274px;
  text-indent: -9999px;
  color: transparent;
  background: url('../images/design/sprite.png?1355961822') no-repeat -462px 112px rgba(255, 255, 255, 0.9);
}
/* line 170, ../sass/parts/_references.scss */
.single_reference .btn_show_hide_description_reference.opened {
  background: url('../images/design/sprite.png?1355961822') no-repeat -222px 112px rgba(255, 255, 255, 0.9);
}

/* Page references */
/* line 179, ../sass/parts/_references.scss */
.references_list #logo .inner {
  /*display: inline;*/
  float: left;
  width: 950px;
  margin: 0 5px;
  width: 100%;
  margin: 0;
}
/* line 184, ../sass/parts/_references.scss */
.references_list #logo h1 {
  float: left;
}
/* line 187, ../sass/parts/_references.scss */
.references_list #logo .filters {
  float: right;
  min-width: 400px;
  padding-top: 31px;
}
/* line 192, ../sass/parts/_references.scss */
.references_list #logo .filters a {
  float: left;
  margin-top: 2px;
  margin-left: 10px;
  width: 19px;
  height: 22px;
  text-indent: -9999px;
  color: transparent;
}
/* line 201, ../sass/parts/_references.scss */
.references_list #logo .filters a.show_blocks {
  background: url('../images/design/sprite.png?1355961822') no-repeat -920px 0 transparent;
}
/* line 204, ../sass/parts/_references.scss */
.references_list #logo .filters a.show_list {
  background: url('../images/design/sprite.png?1355961822') no-repeat -800px 0 transparent;
}
/* line 209, ../sass/parts/_references.scss */
.references_list #logo form {
  float: left;
}
/* line 213, ../sass/parts/_references.scss */
.references_list .photos_list {
  margin: 10px 0;
}
/* line 216, ../sass/parts/_references.scss */
.references_list .photos_list li {
  /*display: inline;*/
  float: left;
  width: 310px;
  margin: 0 5px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px #fff;
  -webkit-transition: background 0.1s ease-in, color 0.2s ease-out;
  -moz-transition: background 0.1s ease-in, color 0.2s ease-out;
  -o-transition: background 0.1s ease-in, color 0.2s ease-out;
  transition: background 0.1s ease-in, color 0.2s ease-out;
  list-style: none;
}
/* line 225, ../sass/parts/_references.scss */
.references_list .photos_list li article {
  height: 200px;
  overflow: hidden;
}
/* line 230, ../sass/parts/_references.scss */
.references_list .photos_list li .title {
  position: absolute;
  width: 100%;
  height: 200px;
  background: rgba(53, 2, 2, 0.9);
  color: white;
  font-family: "Scada", Arial, sans-serif;
  text-transform: uppercase;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  font-weight: bold;
}
/* line 246, ../sass/parts/_references.scss */
.references_list .photos_list li .title h2 {
  position: absolute;
  bottom: 14px;
  right: 12px;
  width: 218px;
  font-size: 24px;
  line-height: 28px;
}
/* line 255, ../sass/parts/_references.scss */
.references_list .photos_list li .title span {
  display: block;
  margin: 28px 0 0 26px;
  font-size: 48px;
}
/* line 262, ../sass/parts/_references.scss */
.references_list .photos_list li img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
/* line 268, ../sass/parts/_references.scss */
.references_list .photos_list li:hover .title {
  opacity: 1;
}
/* line 271, ../sass/parts/_references.scss */
.references_list .photos_list li:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* Scrollbar */
/* line 289, ../sass/parts/_references.scss */
.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* line 295, ../sass/parts/_references.scss */
.antiscroll-scrollbar {
  background: white;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}

/* line 308, ../sass/parts/_references.scss */
.antiscroll-scrollbar-shown {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 313, ../sass/parts/_references.scss */
.antiscroll-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
  opacity: 0 !important;
}

/* line 321, ../sass/parts/_references.scss */
.antiscroll-scrollbar-vertical {
  width: 10px;
  margin-top: 15px;
  right: 0px;
  top: 0;
  cursor: pointer;
  opacity: 1 !important;
}

/* line 330, ../sass/parts/_references.scss */
.antiscroll-inner {
  overflow: scroll;
}

/* line 334, ../sass/parts/_references.scss */
.antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}

/* line 1, ../sass/parts/_references2.scss */
.photos_list2 {
  margin: 10px 0;
  float: left;
  /* -- make sure to declare a default for every property that you want animated -- */
  /* -- general styles, including Y axis rotation -- */
  /* -- X axis rotation for click panel -- */
  /* -- cosmetics -- */
}
/* line 5, ../sass/parts/_references2.scss */
.photos_list2 .panel {
  float: left;
  width: 310px;
  height: 200px;
  margin: 5px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
/* line 16, ../sass/parts/_references2.scss */
.photos_list2 .panel .front {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 0;
  -webkit-transform: rotateX(0deg) rotateY(0deg) preserve-3d;
  -moz-transform: rotateX(0deg) rotateY(0deg) preserve-3d;
  -ms-transform: rotateX(0deg) rotateY(0deg) preserve-3d;
  -o-transform: rotateX(0deg) rotateY(0deg) preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 36, ../sass/parts/_references2.scss */
.photos_list2 .panel.flip .front {
  z-index: 900;
  border-color: #eee;
  background: lightpink;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 44, ../sass/parts/_references2.scss */
.photos_list2 .panel .back {
  height: 100%;
  width: 100%;
  z-index: 800;
  border: 1px solid #ccc;
  background-color: white;
  background: rgba(200, 33, 33, 0.8);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 64, ../sass/parts/_references2.scss */
.photos_list2 .panel.flip .back {
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(200, 33, 33, 0.8);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
/* line 75, ../sass/parts/_references2.scss */
.photos_list2 .click .front {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/* line 79, ../sass/parts/_references2.scss */
.photos_list2 .click.flip .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/* line 82, ../sass/parts/_references2.scss */
.photos_list2 .click .back {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
/* line 86, ../sass/parts/_references2.scss */
.photos_list2 .click.flip .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/* line 91, ../sass/parts/_references2.scss */
.photos_list2 .panel.flip .action {
  display: none;
}
/* line 93, ../sass/parts/_references2.scss */
.photos_list2 .title {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 200px;
  background: rgba(200, 33, 33, 0.8);
  color: white;
  font-family: "Scada", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  font-weight: bold;
}
/* line 106, ../sass/parts/_references2.scss */
.photos_list2 .title h2 {
  position: absolute;
  bottom: 14px;
  right: 12px;
  width: 218px;
  font-size: 24px;
  line-height: 28px;
}
/* line 115, ../sass/parts/_references2.scss */
.photos_list2 .title span {
  display: block;
  margin: 28px 0 0 26px;
  font-size: 48px;
}
/* line 122, ../sass/parts/_references2.scss */
.photos_list2 .back img {
  position: absolute;
  z-index: -1;
}
/* line 127, ../sass/parts/_references2.scss */
.photos_list2 li {
  display: inline;
}

/*Popin*/
/* line 3, ../sass/parts/_popin.scss */
#popin {
  width: 620px;
  float: left;
  padding: 15px;
  background: #e5e5e5;
}

/* END #popin */
