/* Header */

header{
	position: fixed;
	z-index:9999;
	bottom:0;
	background:$white;
	width:100%;
	border-top:solid 1px rgba(0, 0, 0, 0.2);
	
	.wrapper{
		margin-top:0;
	}
	
	#search_form{
		float:right;
	}
	nav{
		float:left;
		position:relative;
		height:100%;

		.menu{
			float:left;
					
			li{
				float:left;
				margin-left:20px;
				
				&:first-child{
					margin-left:0;
				}

				a{
					display: block;
					padding:20px 16px 13px 13px;
					color:$light_black;
					font-family:$font-titles;
					font-size:14px;
					text-transform: uppercase;
					
					&:hover,
					&:active,
					&.active{
						background-color:$light_black;
						color:#fff;
					}
				}
			}
		}
	}

	#langages{
		float:right;

		#currentLangage{
			font-family: "Scada", Arial, sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			color:#222;
			padding: 20px 16px 13px 13px;
			position: relative;
			display: block;

			span{
				background: image-url('sprite_arrow_langages.jpg');
				width:13px;
				height:7px;
				position: absolute;
				background-position-y: 7px;
				margin: 3px 10px;
			}
		}

		&.opened {
			#currentLangage span{
				background-position-y: 0px; 
			}

			ul{
				display:block;
			}
		}

		ul{
			display:none;
			position:absolute;
			li{
				a{
					padding: 13px 28px 13px 13px;
					color:#222;
					background-color:#FFF;
					bottom: 30px;
					position: relative;

					&:hover{
						color:#FFF;
						background-color:#222;
					}
				}
			}
		}
	}

	#lang_sel{
		float: left;
	}
	#btn_footer{
		position:absolute;
		right:50px;
		bottom:0;
		height:33px;

		a{
			width:20px;
			height:18px;
			background: image-url('sprite.png') no-repeat 5px -395px $light_black;
			@include border-radius(10px 10px 0px 0px);
			position:absolute;
			bottom:0px;
			right:0px;
		}
	}
}	

/* END header*/