/* Home */ 

.home{
	#logo{
		float:left;
		width:100%;	
		margin-bottom:2px;
		
		h1{	
			@include column(6);
			margin-left:0;
			background-color:rgba(255, 255, 255, 0.9);

			a{
				display:block;
				padding:32px;
			}
			span{
				display:block;
				font-size:10px;
				font-style: italic;
				color:$light_black;
			}
		}
	}
	.bg_fullscreen{
		width:100%; //debug le fullscreen au chargement de page
		position:fixed;
		top:0;
		left:0;
		z-index:-1;
	}
	.fullscreen_pattern{
		position: absolute;
		top:0;
		background:image-url('fullscreen_pattern.png')repeat 0 0 transparent;
	}
	h2{
		font-size:22px;
		font-family: $font-titles;
		color:$light_black;
		line-height: 1.2;
	}
	.description_projet{
		@include column(6);
		height:520px;
		background-color:rgba(255, 255, 255, 0.9);
		opacity:0;
		margin:0;
		
		&:first-child{
			margin:0 2px 0 0;
		}

		.inner{
			padding:30px;
		}
		
		strong.keywords{
			color:$grey;
			font-size:12px;
			margin:20px 0;
		}
		img{
			float:left;
			margin:20px 0 14px;
			width: 346px;
		}
		p{
			color:$light_black;
			font-size:12px;
		}
	}
	#news{
		@include column(12);
		margin:2px 0 0;
		height:206px;
		background-color:rgba(255, 255, 255, 0.9);
		
		.inner{
			padding:30px;
		}
		span{
			float:left;
			width:100%;
			color:$grey;
			font-size:12px;
			margin:0 0 20px;
		}
		img{
			clear:both;
			float:left;
			margin-right:20px;
		}
		p{
			float:left;
			color:$light_black;
			font-size:12px;
		}
		.article_text{
			float:left;
		}
		a{
			margin-top:24px;
		}
	}
}
/* END .home */ 