//Description_list (used on index.html & projet.html)
.description_list{
	@include column(6);

		li{
			position:relative;
			width:100%;
			clear:both;
			font-size:12px;
			line-height:1.5;

			span{
				float:left;
				color:$grey;
				padding-right:5px;
			}

			strong{
				color:$light_black;
			}
			li{
				display: block;
				
				&:before{
					content:'- ';
				}
			}
			&.award{
				background:image-url('sprite.png') no-repeat -989px -198px;
				
				strong{
					padding-left:16px;
					font-weight: bold;
					color:#d7a200; //or
				}
			}
		}
	}
.description_list.part2{
	@include column(6);
}


/* Projet */ 
	
.projet{
	.description{
		.title{
			position:relative;
			float:left;
			@include column(12);
			margin:36px 0 26px;
			padding-bottom:8px;
			border-bottom:solid 1px #9d9e9e;
			
			> span{
				float:left;
				font-family:$font-titles;
				font-size: 48px;
				color:$light_black; 
			}
			> h2{
				float:left;
				margin-left:22px;
				padding-top:4px;
				font-family:$font-titles;
				font-size: 18px;
				text-transform:uppercase;
				color:$light_black;
			}
		}
		.pagination_back{
			position:absolute;
			right:0;
			
			li{
				float:left;
				padding-top: 24px;
				&:first-child a{
					padding-left:0;
					padding-right:10px;
				}
			}
			a{
				display: block;
				padding-left:10px;
			}
			li,a{
				color:$light_black;
				font-family:$font-titles;
				font-size:12px;
			}
		}
	}
}

	



/* END .projet */ 

/*Single-reference*/

.single_reference{
	#logo{		
		margin-top:50px;
		//Has changed
		width: 1277px;
		.inner{	
			@include column(16);

			h1{
				display:block;
				padding:18px 18px 12px 28px;
			}
			span{
				display:block; 
				font-size:10px;
				font-style: italic;
				color:$light_black;
			}
		}
	}
	#description_projet{
		clear:left;
		@include column(16);
		//Has changed
		margin: 0 2px 0 5px !important;
		height:215px;
		background: rgba(255, 255, 255, 0.9);
		
		.title{
			float:left;
			padding:18px 18px 12px 28px;

			h2{
				color:$light_black;
				text-transform: uppercase;
				font-family: $font-titles;
				font-size:24px;
			}
			strong{
				display: block;
				padding-top:14px;
				font-size:11px;
				color:$light_black;
				text-transform:uppercase;
			}
		}
	
		ul{
			float:left;
			padding:18px 18px 12px;
		}
	}
	.banner_show_hide{
		float:left;
	}
	.btn_show_hide_description_reference{
		float:left; 
		margin:50px 0 0 1px;
		min-height:274px;
		text-indent:-9999px;
		color:transparent;
		background:image-url('sprite.png') no-repeat -462px 112px rgba(255, 255, 255, 0.9); 
		
		&.opened{
			background:image-url('sprite.png') no-repeat -222px 112px rgba(255, 255, 255, 0.9);
		}
	}
}
/* Page references */
.references_list{
	#logo{

		.inner{
			@include column(12);
			width:100%;
			margin:0;
		}
		h1{
			float:left;
		}
		.filters{
			float:right;
			min-width:400px;
			padding-top:31px;
			
			a{
				float:left;
				margin-top:2px;
				margin-left:10px;
				width:19px;
				height:22px;
				text-indent:-9999px;
				color:transparent;
			
				&.show_blocks{
					background:image-url('sprite.png') no-repeat -920px 0 transparent;
				}
				&.show_list{
					background:image-url('sprite.png') no-repeat -800px 0 transparent;
				}
			}
		}
		form{
			float:left;
		}
	}
	.photos_list{
		margin:10px 0;
			
		li{
			@include column(4);
			position:relative;
			margin-top:5px;
			margin-bottom:5px;
			border:solid 1px #fff;		
			@include transition(background .1s ease-in, color .2s ease-out);
			list-style:none;
				
			article{
				height:200px;
				overflow:hidden;
			}
	
			.title{
				position:absolute;
				width:100%;
				height:200px;
				background:rgba(53, 2, 2,0.9); //red
				color:$white;
				font-family: $font-titles;
				text-transform: uppercase;
				z-index:999;
				
				opacity: 0;
				
				@include transition(opacity .2s ease-in);
				
				font-weight: bold;
					
				h2{
					position:absolute;
					bottom:14px;
					right:12px;
					width:218px;	
					font-size:24px;
					line-height:28px;
				}
					
				span{
					display:block;
					margin:28px 0 0 26px;
					font-size:48px;
				}
			}
	
			img{
				@include transition(all .2s ease-in-out);
				z-index:-1;
			}
	
			&:hover{
				.title{
					opacity:1;
				}
				img{
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
}






/* Scrollbar */

      .antiscroll-wrap {
        display: inline-block;
        position: relative;
        overflow: hidden;
      }

      .antiscroll-scrollbar {
        background: $white;
        -webkit-box-shadow: 0 0 1px #fff;
        -moz-box-shadow: 0 0 1px #fff;
        box-shadow: 0 0 1px #fff;
        position: absolute;
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        -webkit-transition: linear 300ms opacity;
        -moz-transition: linear 300ms opacity;
        -o-transition: linear 300ms opacity;
      }

      .antiscroll-scrollbar-shown {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      }

      .antiscroll-scrollbar-horizontal {
        height: 7px;
        margin-left: 2px;
        bottom: 2px;
        left: 0;
        opacity: 0 !important;
      }

      .antiscroll-scrollbar-vertical {
        width: 10px;
        margin-top: 15px;
        right: 0px;
        top: 0;
        cursor:pointer;
        opacity:1 !important;
      }

      .antiscroll-inner {
        overflow: scroll;
      }

      .antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {
        width: 0;
        height: 0;
      }